
<ion-header>
  <ion-toolbar>
    <ion-title>
      Detalles del Juego
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="game-card">
    <img src="assets/images/hzd.jpg" alt="Horizon Zero Dawn">
    <ion-card-header class="game-header">
      <ion-card-title class="game-title">Horizon Zero Dawn</ion-card-title>
    </ion-card-header>

    <ion-card-content class="game-content">
      <p class="game-info"><strong>Desarrollador:</strong> Guerrilla Games</p>
      <p class="game-info"><strong>Distribuidor:</strong> Sony Interactive Entertainment</p>
      <p class="game-info"><strong>Director:</strong> Mathijs de Jonge</p>
      <p class="game-info"><strong>Productor:</strong> Lambert Wolterbeek Muller</p>
      <p class="game-info"><strong>Programador:</strong> Michiel van der Leeuw</p>
      <p class="game-info"><strong>Escritor:</strong> John Gonzalez</p>
      <p class="game-info"><strong>Compositor:</strong> Joris de Man, The Flight, Niels van der Leest, Jonathan Williams</p>

      <p class="game-info"><strong>Género:</strong> Acción, Aventura, Mundo abierto, RPG</p>
      <p class="game-info"><strong>Idiomas:</strong> inglés, ruso, árabe, danés, español, italiano, alemán, neerlandés, noruego, polaco, portugués, finés, francés y sueco</p>
      <p class="game-info"><strong>Modos de juego:</strong> Un jugador</p>

      <p class="game-info"><strong>Clasificaciones:</strong></p>
      <p class="game-info">ESRB: Adolescentes</p>
      <p class="game-info">PEGI: PEGI 16</p>
      <p class="game-info">USK: USK 12</p>

      <p class="game-info"><strong>Motor:</strong> Decima</p>

      <p class="game-info"><strong>Plataformas:</strong> PlayStation 4, PlayStation 5, Microsoft Windows</p>
      <p class="game-info"><strong>Licencias:</strong> Licencia privativa</p>

      <p class="game-info"><strong>Unidades comercializadas:</strong> 2,600,000</p>

      <p class="game-info"><strong>Formato:</strong> Disco Blu-ray, Descarga digital y Distribución digital</p>
      <p class="game-info"><strong>Dispositivos de entrada:</strong> DualShock 4, mando de videojuegos, teclado y mouse</p>

      <p class="game-info"><strong>Lanzamiento:</strong></p>
      <p class="game-info">PlayStation 4</p>
      <p class="game-info">NA 28 de febrero de 2017</p>
      <p class="game-info">EU 1 de marzo de 2017</p>
      <p class="game-info">UK 3 de marzo de 2017</p>
      <p class="game-info">Windows 7 de agosto de 2020</p>
    </ion-card-content>
  </ion-card>
</ion-content>
