<ion-header>
  <ion-toolbar>
    <ion-title>
      Bestiario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Card 1 -->
  <ion-card class="bestiary-card">
    <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/0/09/Watcher.jpg?width=640" alt="Watcher">
    <ion-card-header>
      <ion-card-title>Watcher</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">Watchers are the sentinels of the Machine bestiary. Their primary function is to guard more timid machines against attack. Watchers patrol in groups of 2-4, both with machines and on their own. Do your best to approach unseen, then use Hunter or Hardpoint arrows to down the Watcher.</p>
      <hr>
      <!-- ATTACKS Table -->
      <table class="attacks-table">
        <caption>ATTACKS</caption>
        <tr>
          <th>Attack Type</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>Melee</td>
          <td>The watcher launches itself at its target, delivering a powerful series of kicks as it moves through the air.</td>
        </tr>
        <tr>
          <td>Disorientation</td>
          <td>The watcher triggers a burst of light and sound that blinds and deafens anyone nearby.</td>
        </tr>
      </table>
      <hr>
      <!-- VULNERABILITIES Table -->
      <table class="vulnerabilities-table">
        <caption>VULNERABILITIES</caption>
        <tr>
          <th>Vulnerability Type</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>Eye</td>
          <td>The large eye in the center of the Watcher's "head" is its most vulnerable point. A single Hunters Arrow shaft through the eye will disable standard Watchers, and two of them will defeat a Red Eye.</td>
        </tr>
        <tr>
          <td>Override Codes</td>
          <td>Watcher overrides unlocked after defeating the first Corruptor at the end of The Womb of the Mountain.</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

<!-- Card para RedEye Watchers -->
<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/9/9d/RedeyeWatcher.jpg?width=640" alt="RedEye Watchers">
  <ion-card-header>
    <ion-card-title>RedEye Watchers</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">There is a second, more powerful variation of the Watcher that Aloy will encounter as she progresses through the world. These Redeye Watchers boast armor plating on their head and chassis, and can fire dangerous energy bolts from their eye.</p>
    <p class="description">The eye is still their primary vulnerability, but the Redeye requires more damage to this weak point to completely disable the machine.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Energy Bolts</td>
        <td>RedEye Watchers can fire dangerous energy bolts from their eye.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Eye</td>
        <td>The eye is still their primary vulnerability, but the Redeye requires more damage to this weak point to completely disable the machine.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<!-- Card para Striders -->
<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/8/83/Strider.jpg?width=640" alt="Striders">
  <ion-card-header>
    <ion-card-title>Striders</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">Striders are relatively docile machines that travel in small-midsize herds. They are easily startled, so approaching with stealth is advised.</p>
    <p class="description">Striders can be used as mounts.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Melee</td>
        <td>The Strider charges attackers to strike with its armored head, and will also rear back to kick with its powerful legs.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Blaze Canister</td>
        <td>Weakness: Fire, Tear. The canister of fuel mounted on the Strider's back will ignite and cause a large explosion if struck with a fire arrow.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Strider overrides unlocked after defeating the first Corruptor at the end of The Womb of the Mountain.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<!-- Card para Grazer -->
<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/6/65/Grazer.jpg?width=640" alt="Grazer">
  <ion-card-header>
    <ion-card-title>Grazer</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">Another herd animal, Grazers are often encountered in groups of 3-5. While the pack may flee if attacked, individual Grazers will often become aggressive if they encounter interlopers in the wild.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Melee</td>
        <td>The Grazer launches itself at its target, inflicting damage with its body or kicking with its legs.</td>
      </tr>
      <tr>
        <td>Rotor Blades</td>
        <td>The spinning blades used to harvest material from the earth are redirected to damage attackers.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Blaze Cannisters</td>
        <td>Weakness: Fire, Tear. The fuel canisters on the Grazer's back will cause an explosion if struck with fire arrows.</td>
      </tr>
      <tr>
        <td>Rotor Blades</td>
        <td>Disables Rotor attack and inflicts medium damage.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Cauldron SIGMA override codes.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<!-- Card para Scrapper -->
<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/d/d3/Scrapper.jpg?width=640" alt="Scrapper">
  <ion-card-header>
    <ion-card-title>Scrapper</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">These dangerous machines can be found scavenging the wilds for machine parts both on their own or in packs. In addition to being a formidable opponent in direct combat, the Scrapper is equipped with a radar scanner that can detect hidden enemies from a distance.</p>
    <p class="description">Target the power cell near the Scrapper's rear to cause massive damage and stun nearby enemies, then use high-damage arrows or blasts to destroy the beast.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Melee</td>
        <td>Charge. Scrappers will engage in close-combat melees, using its claws and buzzsaw-like mandibles.</td>
      </tr>
      <tr>
        <td>Energy Cannon</td>
        <td>The Scrapper triggers a burst of light and sound that blinds and deafens anyone nearby.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Radar</td>
        <td>Destroying this device on the Scrapper's back will deal medium damage and disable its scan function.</td>
      </tr>
      <tr>
        <td>Power Cell</td>
        <td>Weakness: Shock, Tear. This component, when hit with shock arrows, will overload and explode, causing shock damage to anything around it.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Can be overridden with codes from Cauldron SIGMA.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>
<!-- Card para Broadhead -->
<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/d/d8/Broadhead.jpg?width=640" alt="Broadhead">
  <ion-card-header>
    <ion-card-title>Broadhead</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">These powerful machines are found throughout the world, and are capable of both swift flight and powerful attacks. We recommend that hunters approach unseen and either eliminate or override while in stealth.</p>
    <p class="description">Broadheads can be used as mounts.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Melee</td>
        <td>Broadheads will buck and kick, striking wildly at any opponents that it may encounter.</td>
      </tr>
      <tr>
        <td>Charge Attack</td>
        <td>The Broadhead will charge towards an opponent, striking with its horns to deal maximum damage.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Blaze Canister</td>
        <td>The fuel canister mounted on its back will ignite and trigger a large explosion when shot with a flaming arrow.</td>
      </tr>
      <tr>
        <td>Horns</td>
        <td>Destroying this component will disable the machine's charge attack and deal minor damage.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Strider overrides unlocked after defeating the first Corruptor at the end of The Womb of the Mountain.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<!-- Card para Lancehorn -->
<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/7/79/Lancehorn.jpg?width=640" alt="Lancehorn">
  <ion-card-header>
    <ion-card-title>Lancehorn</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">Timid when surprised but aggressive when directly provoked, the Lancehorn is a surprisingly capable opponent. It is recommended that hunters remove their head-mounted drill weapons before engaging in direct combat.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Melee</td>
        <td>Lancehorns can kick with both front and back legs.</td>
      </tr>
      <tr>
        <td>Drill Horns</td>
        <td>Charges with its head down, the pointed drill bits on the Lancehorn's head strike for massive damage.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Drill Horns</td>
        <td>Weakness: Tear</td>
      </tr>
      <tr>
        <td>Freeze Canister</td>
        <td>Destroy these rear-mounted casks of Chilwater with a Freeze arrow to cause a massive blast of ice, freezing anything in the nearby area.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron SIGMA.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<!-- Card para Longleg -->
<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/d/d8/LongLeg.jpg?width=640" alt="Longleg">
  <ion-card-header>
    <ion-card-title>Longleg</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">This large avian-esque machine is far more deadly than it looks. They often appear as solitary hunters or traveling in small groups with other herd-like units such as Broadheads or Striders.</p>
    <p class="description">Hunters are recommended to first disable the antennae from a stealthy vantage point, then target the concussion sac to deal massive damage and simultaneously disable the wings when it explodes.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Melee</td>
        <td>Longlegs will use their powerful legs for kick attacks.</td>
      </tr>
      <tr>
        <td>Sonic Blast</td>
        <td>A deafening explosion of compressed air that deals moderate damage and disorients its targets.</td>
      </tr>
      <tr>
        <td>Charge</td>
        <td>Propelling itself into the air, the Longleg dashes forward and slams into its foes for extra damage.</td>
      </tr>
      <tr>
        <td>Call Backup</td>
        <td>The large antennae on its head can be used to recruit nearby machines to defend itself.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Concussion Sac</td>
        <td>Sac of compressed air that causes a large explosion that damages anything nearby. Destroying this will usually also destroy a Longlegs wing motors.</td>
      </tr>
      <tr>
        <td>Antennae</td>
        <td>Weakness: Tear. Remove this component to disable the Longleg's ability to call for nearby reinforcements.</td>
      </tr>
      <tr>
        <td>Wings</td>
        <td>Destroying these small motors will eliminate the Longleg's ability to perform a Charge attack.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron RHO.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/5/5c/Trampler.jpg?width=640" alt="Trampler">
  <ion-card-header>
    <ion-card-title>Trampler</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">These mid-size machines are usually found in packs and not to be engaged without a sizeable arsenal at one's disposal. Hunters should first disable the large processing unit on their undersides to disable their AoE fire attacks, then either use TearBlast arrows to remove the large horns or tie the beast down with the Ropecaster to deal damage.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Fire Blast</td>
        <td>After charging its central processor, the Trampler discharges a massive blast of heat that burns anything within the detonation radius.</td>
      </tr>
      <tr>
        <td>Flaming Charge</td>
        <td>Bowing its head and igniting its processor, the Trampler charges ahead and around its enemies, leaving a flaming trail in its wake.</td>
      </tr>
      <tr>
        <td>Rock Throw</td>
        <td>Digging into the earth with its horns, the Trampler launches super-heated chunks of earth and rock at its opponents.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Excavation</td>
        <td>Horns - Weakness: Tear. Removing these will disable the rock throw and lessen the damage of the Trampler's melee attacks.</td>
      </tr>
      <tr>
        <td>Power Cell</td>
        <td>Weakness: Shock, Tear. Shoot with Shock Arrows to trigger a large explosion that electrifies anything nearby.</td>
      </tr>
      <tr>
        <td>Processor Unit</td>
        <td>Destroying this component will trigger an explosion, damaging anything nearby and disabling the Trampler's fire-based attacks.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron RHO.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/8/8f/Sawtooth.jpg?width=640" alt="Sawtooth">
  <ion-card-header>
    <ion-card-title>Sawtooth</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">Large machines that deal massive amounts of damage in close-quarters. Hunters should attempt to lure them over a shock, blast, or fire tripwire/trap to destroy the blaze canister on the underside of their chassis.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Melee</td>
        <td>The sawtooth attacks with powerful lunges and swipes, predominantly from its head and forelegs.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Blaze Canister</td>
        <td>Destroying the blaze canister on the underside of the Sawtooth will trigger a large explosion, causing damage and setting fire to anything nearby.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron SIGMA.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/d/d0/ShellWalker.jpg?width=640" alt="Shell-Walker">
  <ion-card-header>
    <ion-card-title>Shell-Walker</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">These large cargo-bots may appear docile but are outfitted with a considerable array of offensive and defensive technology. Hunters should target the Shell-Walker's rear power generator before engaging directly, then focus on destroying the shield claw before anything else.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Lightning Shot</td>
        <td>Launches shock charges that carpet an area in harmful electric current.</td>
      </tr>
      <tr>
        <td>Claw Attack</td>
        <td>Swipes and clasps with large claw appendage, deals significant damage.</td>
      </tr>
      <tr>
        <td>Electric Blast</td>
        <td>Walker will build up a powerful electric shock, discharged from the generator on its belly.</td>
      </tr>
      <tr>
        <td>Shield Slam</td>
        <td>Uses its shield to push back enemies and create space.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Power Generator</td>
        <td>Weakness: Shock, Tear. Destroying the power generator on its rear will disable its electric attacks and shield.</td>
      </tr>
      <tr>
        <td>Shield Claw</td>
        <td>Weakness: Tear. Removing the shield claw will prevent the Shell-Walker from using its defensive shield.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron XI.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/3/39/Bellowback01.jpg?width=640" alt="Fire Bellowback">
  <ion-card-header>
    <ion-card-title>Bellowbacks</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">Bellowbacks are especially deadly when encountered in tandem with other machines who excel at melee combat. Hunters are advised to attempt to tackle a Fire/Freeze Bellowback alone, and focus on destroying the cargo sac/gullet to avoid taking elemental damage.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Flamethrower</td>
        <td>Sprays a wide arc of fire across the area in front of it.</td>
      </tr>
      <tr>
        <td>Cryo Spray</td>
        <td>Sprays a wide arc of chillwater ice across the area in front of it.</td>
      </tr>
      <tr>
        <td>Fireball</td>
        <td>Lobs balls of fire that blanket their landing spot in flames and deal explosive damage on impact.</td>
      </tr>
      <tr>
        <td>Ice Bomb</td>
        <td>Lobs balls of ice that blanket their landing spot in frost and deal explosive damage on impact.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Body</td>
        <td>The entire Fire Bellowback is vulnerable to Freeze Damage. Cryo Arrows and Tripwires work best.</td>
      </tr>
      <tr>
        <td>Cargo Sac</td>
        <td>Destroying this causes a massive explosion, dealing high damage to the Fire Bellowback. Also disables the fireball/ice bomb attack.</td>
      </tr>
      <tr>
        <td>Blaze Canister</td>
        <td>Weakness: Tear, Fire. Shooting the Blaze Canister causes a large explosion, damaging nearby units or enemies.</td>
      </tr>
      <tr>
        <td>Gullet</td>
        <td>Destroying this disables the Flamethrower/Cryo Spray attack.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron XI.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/9/91/Bellowback02.jpg?width=640" alt="Freeze Bellowback">
  <ion-card-header>
    <ion-card-title>Freeze Bellowback</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">For all intents and purposes, this Bellowback variant can be engaged using the same tactics as its fiery brethren, though Resist Freeze potions will come in handy here.</p>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Body</td>
        <td>The entire Freeze Bellowback is vulnerable to Fire Damage. Fire Arrows and Explosive Tripwires work best.</td>
      </tr>
      <tr>
        <td>Cargo Sac</td>
        <td>Destroying this causes a massive explosion, dealing high damage to the Freeze Bellowback. Also disables the fireball/ice bomb attack.</td>
      </tr>
      <tr>
        <td>Freeze Canister</td>
        <td>Weakness: Tear, Freeze. Shooting the Freeze Canister causes a large explosion, freezing nearby enemies.</td>
      </tr>
      <tr>
        <td>Gullet</td>
        <td>Destroying this disables the Flamethrower/Cryo Spray attack.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron XI.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/7/74/Charger.jpg?width=640" alt="Charger">
  <ion-card-header>
    <ion-card-title>Charger</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">Chargers are smaller than Broadheads but swifter and, in many ways, more dangerous. Hunters should approach quietly and destroy their horns and Blaze canisters before engaging. Chargers can be ridden as mounts.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Melee</td>
        <td>The charger attacks with powerful lunges and will buck wildly to cause damage when attacked.</td>
      </tr>
      <tr>
        <td>Charge</td>
        <td>The machine rushes forward to do moderate damage with the large horns on its head.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Blaze Canister</td>
        <td>Weakness: Fire. Destroying the blaze canister triggers a large explosion, damaging anything nearby.</td>
      </tr>
      <tr>
        <td>Horns</td>
        <td>Weakness: Tear. Destroying or removing this component disables the machine's charge attack.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Charger overrides unlocked after defeating the first Corruptor at the end of The Womb of the Mountain.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/6/66/Stalker.jpg?width=640" alt="Stalker">
  <ion-card-header>
    <ion-card-title>Stalker</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">Stalkers are some of the deadliest machines, especially when using their stealth abilities. Use TearBlast arrows to remove the Stealth Generator, preventing the beast from turning invisible. Focus on the dart gun on its back with Hardpoint or Precision Arrows, which should stun it. Keep your distance until the creature is downed, then inflict as much damage as possible.</p>
    <p class="description">When engaging multiple Stalkers, focus on eliminating the stealth components first. Corruption Arrows are useful as Stalkers can damage each other.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Darts</td>
        <td>The launcher mounted on its back flings accurate, fast-moving projectiles that do medium damage.</td>
      </tr>
      <tr>
        <td>Mines</td>
        <td>Used to prevent prey from escaping, or when investigating an area, these explosive mines make evading the Stalkers even more treacherous.</td>
      </tr>
      <tr>
        <td>Tail Whip</td>
        <td>In addition to their standard melee attacks, Stalkers will perform an AoE spin with their razor-sharp tail.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Body</td>
        <td>The Stalker's entire body is vulnerable to Shock damage.</td>
      </tr>
      <tr>
        <td>Dart Gun</td>
        <td>Removing this disables the Dart attack.</td>
      </tr>
      <tr>
        <td>Mine Launcher</td>
        <td>Removing this prevents a Stalker from placing mines around a hunting area.</td>
      </tr>
      <tr>
        <td>Stealth Generator</td>
        <td>Destroying this deals minor damage but disables the Stalker's ability to render itself invisible.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron XI.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/7/7a/Glinthawk.jpg?width=640" alt="Glinthawk">
  <ion-card-header>
    <ion-card-title>Glinthawk</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">Glinthawks are some of the most dangerous and frustrating enemies to encounter. They almost always travel in flocks of at least three or more machines and can spot hunters hiding in tall grass when flying above them.</p>
    <p class="description">The most effective way to eliminate Glinthawks is to set them ablaze with fire arrows, then tether them to the ground and perform heavy melee attacks. Destroying their Freeze Sacs is also a helpful tactic, preventing them from covering the ground in dangerous patches of ice.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Dive Attack</td>
        <td>The Glinthawk bombs towards the ground, using its powerful beak and claws to attack its prey.</td>
      </tr>
      <tr>
        <td>Ice Bomb</td>
        <td>Hovering above the ground, the Glinthawk launches a series of ice pods that explode on impact, covering the ground in harmful patches of ice damage.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Body</td>
        <td>Weakness: Fire. Due to their light construction, the Glinthawk's body is incredibly vulnerable to fire damage.</td>
      </tr>
      <tr>
        <td>Beak</td>
        <td>Weakness: Tear.</td>
      </tr>
      <tr>
        <td>Freeze Sac</td>
        <td>Destroying/removing this component will cause medium damage and prevent the use of the Glinthawk's freeze damage AoE attack.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron XI.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/5/57/Corruptor.jpg?width=640" alt="Corruptor">
  <ion-card-header>
    <ion-card-title>Corruptor</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">Corruptors are incredibly deadly machines and should only be engaged when absolutely necessary. Their melee attacks are just as dangerous as their long-range projectiles, and hunters must keep moving or tie them down with a Ropecaster to avoid taking too much damage.</p>
    <p class="description">The most effective strategy for eliminating a Corruptor is to trigger a system overheat, usually by launching a continuous stream of Fire Arrows at it, then targeting the Heat Core with Precision Arrows when it becomes exposed during the overheat.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Flechette Grenades</td>
        <td>These incredibly dangerous explosives deal moderate-to-high damage upon detonation.</td>
      </tr>
      <tr>
        <td>Spikes</td>
        <td>In addition to the grenades, the Corruptor can also hurl large metal spikes at its foes.</td>
      </tr>
      <tr>
        <td>Pounce</td>
        <td>The Corruptor will rear up on its four legs and leap at its target, landing on them and following up with a spin attack for good measure.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Body</td>
        <td>Weakness: Fire. The Corruptor's major design flaw is a propensity to overheat. Exposure to fire will cause the Heat Core to emerge during the cooling process.</td>
      </tr>
      <tr>
        <td>Heat Core</td>
        <td>When the main systems overheat, this small processor emerges from the top of the Corruptor. It is incredibly sensitive and will cause massive harm if damaged or destroyed.</td>
      </tr>
      <tr>
        <td>Mounted Launchers</td>
        <td>Weakness: Tear. Both the Grenade Launcher and Spike Launcher can be removed or destroyed, disabling the Corruptor's ranged attacks and causing damage.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>None. The Corruptor cannot be overridden.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/b/b2/Ravager.jpg?width=640" alt="Ravager">
  <ion-card-header>
    <ion-card-title>Ravager</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">The Ravager may be one of the more imposing machines to encounter in the wild, but with the right equipment and strategy, it can be easily overcome.</p>
    <p class="description">The easiest way to dispatch a Ravager is to use a TearBlast Arrow to remove the back-mounted Ravager Cannon, then pick that up and use it against the beast to quickly finish it off. Ravagers are incredibly fast, so it's best to remove the cannon from an unseen vantage point or use a Ropecaster to prevent the beast from reaching you while you collect the gun.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Cannon Fire</td>
        <td>A rapid-fire barrage from the Ravager Cannon that deals moderate damage. Can be avoided by dodge/rolling or sprinting out of the line of fire.</td>
      </tr>
      <tr>
        <td>Pounce</td>
        <td>The Ravager rears back on its hind legs, then launches forward for a devastating melee attack.</td>
      </tr>
      <tr>
        <td>Claw</td>
        <td>The beast will use its powerful forelegs to attack.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Body</td>
        <td>Weakness: Fire.</td>
      </tr>
      <tr>
        <td>Freeze Canisters</td>
        <td>Weakness: Freeze/Tear. Mounted on the base of the Ravager's chassis, these canisters can be removed or destroyed. Using a Freeze arrow triggers an elemental explosion that freezes anything nearby.</td>
      </tr>
      <tr>
        <td>Power Cell</td>
        <td>Weakness: Shock/Tear. Remove the armor housing and use shock arrows to trigger an elemental explosion that electrifies anything nearby or tear arrows to remove them.</td>
      </tr>
      <tr>
        <td>Ravager Cannon</td>
        <td>Weakness: Tear. This item can be destroyed or removed. Removing the cannon allows Aloy to use it herself.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron RHO.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/c/cc/Snapmaw.jpg?width=640" alt="Snapmaw">
  <ion-card-header>
    <ion-card-title>Snapmaw</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">The Snapmaw is, by itself, not an incredibly threatening machine. However, it is usually found in groups of two or three, as well as nearby other machines that will become incensed when they sense combat.</p>
    <p class="description">Luring a Snapmaw out of the water and using fire arrows against its body and Blaze Canisters is the fastest way to drain its health. Because its movement is fairly slow, destroying the Freeze Sac beneath its head is also advised, since it can still be engaged from a distance after disabling its ranged attack.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Ice Bomb</td>
        <td>The Snapmaw launches this group of ranged projectiles that cover a small area in caustic ice.</td>
      </tr>
      <tr>
        <td>Tail Whip</td>
        <td>The Snapmaw will whip its tail around and slam it into the ground to deal medium damage.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Body</td>
        <td>Weakness: Fire. Out of water, the Snapmaw's chassis is easily damaged by heat. Fire arrows are advised on land.</td>
      </tr>
      <tr>
        <td>Blaze Canister</td>
        <td>Weakness: Fire/Tear.</td>
      </tr>
      <tr>
        <td>Freeze Sac</td>
        <td>Destroy this component to cause an elemental explosion and disable its ranged attack.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron RHO.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/b/b1/Rockbreaker.jpg?width=640" alt="Rockbreaker">
  <ion-card-header>
    <ion-card-title>Rockbreaker</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">A rare site to behold, the worm-like Rockbreaker may be the most dangerous machine in Horizon. They are not to be engaged without the very best of equipment.</p>
    <p class="description">Your first step to defeating the Rockbreaker is to use TearBlast Arrows to remove the four Digging Arms when the creature surfaces. Depending on your skill with a bow, you can usually destroy two at a time.</p>
    <p class="description">Once the Rockbreaker can no longer dive underground, it will begin focusing on quick melee charges - use a Ropecaster to hold it in place while you use Cryo Arrows or Freeze Bombs to further slow the beast, then target the Fuel Sacs and Exhaust Ports on either side of it to do maximum damage.</p>
    <p class="description">If a hunter encounters two Rockbreakers simultaneously, the best course of action is to remain hidden and use Corruption Arrows to pit the two leviathans against one another, then engage the weakened victor of the fight.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Charge</td>
        <td>The Rockbreaker hurls itself across the ground at its target, bowling over it and shredding it with its gnashing bladed mandibles.</td>
      </tr>
      <tr>
        <td>Upwards Thrust</td>
        <td>After diving underground, the Rockbreaker surfaces directly under its prey, catching it in its mouth. It will usually repeat this action three or four times.</td>
      </tr>
      <tr>
        <td>Breach</td>
        <td>The mechanical worm briefly launches itself up from underground to send the length of its body through the air and towards its target.</td>
      </tr>
      <tr>
        <td>Rock Volley</td>
        <td>Rearing up on its hindquarters, the Rockbreaker launches a far-reaching arc of stone and debris that inflicts medium damage on whatever it hits.</td>
      </tr>
      <tr>
        <td>Stone Shower</td>
        <td>Bursting forth from the earth and holding itself upright, the worm flings a shower of rocks into the air around itself for an AoE attack.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Body</td>
        <td>Weakness: Freeze.</td>
      </tr>
      <tr>
        <td>Digging Arms</td>
        <td>Weakness: Tear. Removing or destroying these components with TearBlast Arrows will prevent the Rockbreaker from tunneling around underground.</td>
      </tr>
      <tr>
        <td>Exhaust Port</td>
        <td>Targeting these openings on either side of the worm's back deals significant damage.</td>
      </tr>
      <tr>
        <td>Fuel Sac</td>
        <td>Destroying these disables the Rockbreaker's ranged elemental attacks and also causes a large explosion that deals fire damage to anything nearby.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron ZETA.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/5/55/Behemoth.jpg?width=640" alt="Behemoth">
  <ion-card-header>
    <ion-card-title>Behemoth</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">These ponderous giants are far more intimidating than they are dangerous, but should not be treated carelessly.</p>
    <p class="description">If possible, Hunters should focus their TearBlast and Precision Arrows on the Force Loaders on either side of the Behemoth's head, potentially after using a Cryo Arrow on the Freeze Canisters located near the machine's hindquarters.</p>
    <p class="description">Quality marksmen will also want to aim for the power cell in between the Behemoth's shoulder blades with either a Shock or TearBlast arrow.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Load Launcher</td>
        <td>The Behemoth will fire chunks of earth and rock towards its target, dealing light to moderate damage.</td>
      </tr>
      <tr>
        <td>Charge</td>
        <td>The Behemoth lowers its massive head to use as a battering ram, dealing high damage on impact.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Crate Holders</td>
        <td>These small clamps won't inflict much damage if removed, but it will lose the cargo container on the Behemoth's undercarriage, allowing it to be looted once the machine has been dispatched.</td>
      </tr>
      <tr>
        <td>Freeze Canister</td>
        <td>Weakness: Freeze/Tear.</td>
      </tr>
      <tr>
        <td>Force Loader</td>
        <td>Weakness: Tear. Removing these parts reduces/eliminates the Behemoth's ability to perform lifting attacks. Destroying them also inflicts moderate damage.</td>
      </tr>
      <tr>
        <td>Power Cell</td>
        <td>Weakness: Shock/Tear. Targeting this small item with a Shock Arrow will deal medium-high damage and trigger a large elemental explosion that will damage nearby enemies.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron XI.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/8/8e/Thunderjaw.jpg?width=640" alt="Thunderjaw">
  <ion-card-header>
    <ion-card-title>Thunderjaw</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">The most infamous machine in the land, the Thunderjaw is one of the most deadly mechanical beasts known to man. Only well-equipped and highly trained hunters should attempt to engage this metal monstrosity.</p>
    <p class="description">The best method of taking down a Thunderjaw is to first use Tearblast Arrows to remove the Disc Launcher from its back. Then, using as many ropes as you can, lash the Thunderjaw to the ground, collect the disc launcher and unload on the creature.</p>
    <p class="description">This should eliminate roughly 2/3 of its health bar - focus on aiming the disc launcher at the armor plating covering the Thunderjaw's heart, as well as its head-mounted cannons and removable tail. Use Precision or Hardpoint Arrows to target its heart to finish it off.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Cannon Fire</td>
        <td>The twin plasma cannons on either side of the Thunderjaws head can deal massive damage to anyone who doesn't dodge out of their line of fire.</td>
      </tr>
      <tr>
        <td>Laser Discs</td>
        <td>The two Disc Launchers on its back fire several hovering drones that lock onto a target and deliver a devastating explosive blast after a moment or two.</td>
      </tr>
      <tr>
        <td>Charge</td>
        <td>The Thunderjaw rushes its prey, attempting to both tear it to shreds in its jaws and/or crush it beneath its massive frame.</td>
      </tr>
      <tr>
        <td>Tail Whip</td>
        <td>The giant beast slams its massive tail to the ground and lashes it against anything and everything it can.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Blaze Canister</td>
        <td>Weakness: Fire/Tear. These canisters are well hidden on the Thunderjaw's back, but will deal moderate damage and create a large elemental explosion if destroyed with fire.</td>
      </tr>
      <tr>
        <td>Cannon</td>
        <td>Destroying or removing these components will disable the ranged cannon attack.</td>
      </tr>
      <tr>
        <td>Data Nexus</td>
        <td>Weakness: All. This highly-sensitive processor is protected by thick armor over the creature's head, but once the armor is removed it will inflict massive damage if destroyed or tampered with.</td>
      </tr>
      <tr>
        <td>Disc Launcher</td>
        <td>Weakness: Tear. This heavy weapon can be removed and used once it has been detached from the Thunderjaw.</td>
      </tr>
      <tr>
        <td>Freeze Canisters</td>
        <td>Weakness: Freeze/Tear. Hidden on the underside of the machine, these can be removed for salvage or destroyed with Freeze Arrows to create a large freezing explosion.</td>
      </tr>
      <tr>
        <td>Heart</td>
        <td>Weakness: All. After removing the armor plate covering it, the heart is an incredibly vulnerable processing unit.</td>
      </tr>
      <tr>
        <td>Power Cells</td>
        <td>Weakness: Shock/Tear. Hidden beneath the base of the Thunderjaw's tail, these can be removed for salvage or destroyed with Shock Arrows to cause a large explosion that will electrify any nearby machines or people.</td>
      </tr>
      <tr>
        <td>Radar</td>
        <td>Weakness: Tear. Destroying this top-mounted component will prevent the machine from scanning for targets.</td>
      </tr>
      <tr>
        <td>Tail</td>
        <td>Weakness: Tear. Destroying/removing this piece will prevent the Thunderjaw from using its tail as a weapon in combat.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron ZETA.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/d/d0/Stormbird.jpg?width=640" alt="Stormbird">
  <ion-card-header>
    <ion-card-title>Stormbird</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">These giant winged machines are both incredibly powerful and very resilient.</p>
    <p class="description">When engaging a Stormbird, hunters will want to have a decent supply of Cryo Arrows, TearBlast Arrows, and a good Ropecaster.</p>
    <p class="description">Use the TearBlast arrows to remove the lightning gun first, then the Ropecaster to tether the bird to the ground. Target the Engines on the wings to disable its powerful Dive attack, then focus on the Blaze and Freeze canisters to deal elemental damage and finish the beast off.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Lightning Gun</td>
        <td>Launches orbs of electricity that blanket the ground in pools of static, which deals shock damage.</td>
      </tr>
      <tr>
        <td>Dive</td>
        <td>Thrust-assisted melee attack that comes from directly above the target, dealing high damage.</td>
      </tr>
      <tr>
        <td>Gust</td>
        <td>The Stormbird gives a mighty flap of its massive wings, hitting targets with a concussive blast.</td>
      </tr>
      <tr>
        <td>Talon Lunge</td>
        <td>The beast jumps towards its prey, clawing after it with its giant razor-sharp talons.</td>
      </tr>
      <tr>
        <td>Peck</td>
        <td>Slamming its spiked beak into the ground repeatedly, the Stormbird advances on its prey.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Blaze Canister</td>
        <td>Weakness: Fire/Tear. Mounted on the Stormbird's back beneath the wings, hitting this canister with a Fire Arrow will deal substantial damage and cause a large explosion.</td>
      </tr>
      <tr>
        <td>Engines</td>
        <td>Weakness: Tear. Removing these components will disable the machine's ability to perform the Dive attack.</td>
      </tr>
      <tr>
        <td>Freeze Canister</td>
        <td>Weakness: Freeze/Tear. Cryo Arrow will deal substantial freeze damage.</td>
      </tr>
      <tr>
        <td>Lightning Gun</td>
        <td>Weakness: Tear. Destroying/removing this component will not only disable the ranged lightning attacks but also remove the Shock damage from the Dive attack and deal a decent amount of damage to the Stormbird.</td>
      </tr>
      <tr>
        <td>Override Codes</td>
        <td>Override codes can be found in Cauldron ZETA.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/a/a8/Deathbringer.jpg?width=640" alt="Deathbringer">
  <ion-card-header>
    <ion-card-title>Deathbringer</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">These metal monstrosities were used in the days of the Old Ones, and have been resurrected to wreak havoc throughout the land. Thankfully, they are not found outside of story missions.</p>
    <p class="description">The best way to bring down one of these gargantuan murder-machines is to take advantage of the weak points on its legs and in its cores.</p>
    <p class="description">Use Fire and Shock Arrows to cause the machine to overheat, then take aim at the Heat Vents, Cooling Rods and, most importantly, the Central Core. The machine will also expose stabilizer units from time to time on its legs - destroy these to hinder its mobility.</p>
    <hr>
    <!-- ATTACKS Table -->
    <table class="attacks-table">
      <caption>ATTACKS</caption>
      <tr>
        <th>Attack Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Cannon Fire</td>
        <td>Deathbringers boast several mounted cannons and heavy machine guns on their hulls. The deadliest of these is the centrally-mounted Repeater Cannon.</td>
      </tr>
      <tr>
        <td>Flamethrower</td>
        <td>These side-mounted napalm dispensers will roast anything or anyone that gets too close for comfort.</td>
      </tr>
      <tr>
        <td>Grenade Launcher</td>
        <td>The Deathbringer's weapons system is equipped with a startlingly accurate grenade launcher.</td>
      </tr>
      <tr>
        <td>Swarm Launcher</td>
        <td>This top-mounted launcher fires volley after volley of multiple explosive rounds, destroying almost anything they come into contact with.</td>
      </tr>
    </table>
    <hr>
    <!-- VULNERABILITIES Table -->
    <table class="vulnerabilities-table">
      <caption>VULNERABILITIES</caption>
      <tr>
        <th>Vulnerability Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Body</td>
        <td>Weakness: Fire/Shock. The great design flaw of the Deathbringer is that it's incredibly prone to overheating. Shock/Fire attacks increase the rate at which the machine overheats.</td>
      </tr>
      <tr>
        <td>Cannons, Launchers & Gun Turrets</td>
        <td>The various cannons and machine guns mounted on the exterior of the Deathbringer can be destroyed to inflict minor damage and disable those attacks.</td>
      </tr>
      <tr>
        <td>Cooling Rods & Heat Vents</td>
        <td>When the Deathbringer overheats, targeting these items will increase the speed at which an overheat occurs and exposes the machine's central Core.</td>
      </tr>
      <tr>
        <td>Stabilizers</td>
        <td>When exposed, these components can be targeted to prevent the machine from achieving full mobility.</td>
      </tr>
      <tr>
        <td>Core</td>
        <td>When the Deathbringer overheats, this small core is exposed near its top. Target it for massive damage.</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/5/58/Tallneck.jpg?width=640" alt="Tallneck">
  <ion-card-header>
    <ion-card-title>Tallneck</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">Tallnecks are docile machines, perhaps due to the fact that their gargantuan size makes them impervious to attack from weaker machines or creatures.</p>
    <p class="description">These gentle giants can be climbed and overridden in order to piece together and reveal new parts of the world map.</p>
  </ion-card-content>
</ion-card>

<ion-card class="bestiary-card">
  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/e/ea/CorruptedMachines.jpg?width=640" alt="Corrupted Machines">
  <ion-card-header>
    <ion-card-title>Corrupted Machines</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description">Corrupted machines are merely husks of their originally programmed selves, having been enslaved by a Corruptor. They cannot be overridden but can still fall prey to their own unique vulnerabilities.</p>
  </ion-card-content>
</ion-card>


</ion-content>
