<ion-header>
  <ion-toolbar>
    <ion-title>
      Armeria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Spear</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">The Spear is your primary melee weapon. It cannot be bought or sold. It can be upgraded through various Side Quests.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bows</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">The bows are the most plentiful weapon in the game. They offer a wide variety of effects, all with good range and high accuracy.</p>
      <!-- Add information about different types of bows -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Rattlers</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">The rattlers are short-range, burst-fire weapons. They are designed for close quarters only, as their accuracy drops off after just a few feet.</p>
      <!-- Add information about rattlers -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ropecasters</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">Ropecasters are a form of tether device. They can be used to attach thick cables to machines, pinning them in place. Useful for locking down fast-moving foes or enemies who won't back off.</p>
      <!-- Add information about ropecasters -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Slings</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">Slings are slow-firing weapons that launch bombs at targets. They deal low base damage but often deal very high elemental damage.</p>
      <!-- Add information about slings -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tripcasters</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">Tripcasters fire large wires designed to trip the enemy. They must be fired between two objects, such as trees, and when tripped, will detonate causing various effects.</p>
      <!-- Add information about tripcasters -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tearblaster</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">This is a special weapon associated with the Hunting Grounds and can only be obtained through the quests associated with it. It fires compressed air, ripping off armor plates on nearby machines.</p>
      <!-- Add information about tearblaster -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Hunter Bows</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">This is the basic style of bow. It offers good accuracy and range but minimal damage. Later upgrades allow it to deal more damage, tear off armor, and shoot fire arrows.</p>
      <!-- Add information about Hunter Bows -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Hunter Bow</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">The base version of the bow (Green variant). You start the game with this weapon. It has 80 handling. This variant is only available to Aloy as a child and will automatically be replaced by the Carja (blue) version when she reaches adulthood.</p>
      <p class="description">This weapon fires normal Hunter Arrows. These do low damage, but slightly better tear damage.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Carja Bow</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/4/4a/Cbow1.jpg?width=640" alt="Carja Bow" class="weapon-image">
      <p class="description">The Blue variant of the weapon, it can be purchased after reaching the Mother's Crown region and beyond. It costs 50 Metal Shards, 5 Sparker, and 5 Wire. It has 80 handling and 2 mod slots.</p>
      <p class="description">This weapon can shoot normal arrows as well as fire arrows. The Fire Arrows do minuscule amounts of damage, but a lot of fire damage per shot.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Shadow Hunter Bow</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/2/24/Sbow1.jpg?width=640" alt="Shadow Hunter Bow" class="weapon-image">
      <p class="description">This is the Purple variant of the weapon and can be purchased once you reach the area of Daytower and beyond. It costs 650 Metal Scrap and 1 Watcher Heart. It has 80 handling and 3 mod slots.</p>
      <p class="description">This bow fires the previous two ammo types, as well as a Hard Point Arrow. This is basically a supercharged version of the Hunter Arrow, dealing more damage and significantly more Tear damage.</p>
    </ion-card-content>
  </ion-card>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sharpshot Bows</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">Sharpshot Bows are long-range, high damage weapons ideally used for sniping.</p>
      <!-- Add information about Sharpshot Bows -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sharpshot Bow</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/1/14/Sharp1.jpg?width=640" alt="Sharpshot Bow" class="weapon-image">
      <p class="description">This is the Green variant of the weapon. It can be purchased early on in the game for 105 Metal Shards. It has 20 Handling and 1 mod slot.</p>
      <p class="description">This bow fires one arrow type, that deals high base damage as well as a moderate amount of Tear damage.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Carja Sharpshot Bow</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/b/b5/Csharp1.jpg?width=640" alt="Carja Sharpshot Bow" class="weapon-image">
      <p class="description">This is the Blue variant of the weapon and can be purchased after reaching the Mother's Crown area and beyond for 210 Metal Shards and 10 Metalburn. It has 20 handling and 2 mod slots.</p>
      <p class="description">This bow fires the normal arrow, as well as Tearblast arrows. These arrows stick to a target, then detonate, dealing massive amounts of Tear damage, ripping off armor with ease.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Shadow Sharpshot Bow</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/d/d0/Ssharp1.jpg?width=640" alt="Shadow Sharpshot Bow" class="weapon-image">
      <p class="description">This is the Purple variant of the weapon and can be purchased after reaching Daytower and beyond, for the cost of 800 Metal Shards and 1 Sawtooth Heart. It has 20 handling and 3 mod slots.</p>
      <p class="description">This bow fires the previous ammo types, as well as a harvest shot. This special arrow has a decent amount of Tear damage, and any piece it breaks off will yield more rewards.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>War Bows</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">War Bows are special bows that fire elemental arrows dealing special damage to enemy targets.</p>
      <!-- Add information about War Bows -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>War Bow</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/0/0c/Warbow1.jpg?width=640" alt="War Bow" class="weapon-image">
      <p class="description">This is the Green variant of the weapon and can be purchased after making it through a few hours of the game for the cost of 100 Metal Shards. It has 50 handling and 1 mod slot.</p>
      <p class="description">This bow fires an electric arrow that deals low base damage but then detonates, unleashing a wave of electricity.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Carja War Bow</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/a/a8/Cwarbow1.jpg?width=640" alt="Carja War Bow" class="weapon-image">
      <p class="description">This is the Blue variant of the weapon and can be obtained after reaching Daytower for the price of 300 Metal Shards, 5 Desert Glass, and 2 Slagshine Glass. It has 50 handling and 2 mod slots.</p>
      <p class="description">This bow fires a Freeze arrow as well as the Electric one. Both are functionally the same, dealing low damage but unleashing a large AoE of that particular element.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Shadow War Bow</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/b/be/Swarbow1.jpg?width=640" alt="Shadow War Bow" class="weapon-image">
      <p class="description">This is the Purple variant of the weapon and can be obtained in Meridian for the price of 800 Metal Shards and 1 Trampler Heart. It has 50 handling and 3 mod slots.</p>
      <p class="description">This bow fires the two previous types as well as a new Corruption arrow. This arrow detonates, unleashing a wave of corruption around the target. Any robot who gets fully corrupted will fight for Aloy for a short time.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lodge War Bow</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/horizon-zero-dawn/b/b9/Lodge_War_Bow.png?width=640" alt="Lodge War Bow" class="weapon-image">
      <p class="description">This is a special version of the bow, obtained after completing the Hunting Grounds. This bow does slightly more elemental damage per shot but is otherwise the same as the Shadow War Bow.</p>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
