<ion-header>
  <ion-toolbar>
    <ion-title>
      Armario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nora Survivor Outfit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        This basic armor can be found early on. All three tiers of it provide you with varying levels of elemental resistance.
      </p>
      <p class="description">
        The Nora Survivor is one of the many Outfits found in Horizon: Zero Dawn. This armor provides a small resistance against all 4 elemental types.
      </p>
    </ion-card-content>
  </ion-card>
  
  <!-- Grupo de Outfits: Nora Survivor -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nora Survivor Outfits</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Contenedor para tarjetas internas -->
      <div class="outfit-cards-container">
        <!-- Contenido del primer conjunto de outfits -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Light</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Light -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/nora_survivor_light_outfit_horizon_zero_down_wiki_guide_275px.png" alt="Nora Survivor Light" class="outfit-image">
            <p class="description">
              1 Mod Slot, 5 Fire, Freeze, Electric, and Corruption Resistance
            </p>
            <p class="description">
              Costs 45 Metal Shards, 5 Wire
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del segundo conjunto de outfits -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Medium</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Medium -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/nora_survivor_medium_outfit_horizon_zero_down_wiki_guide_275px.png" alt="Nora Survivor Medium" class="outfit-image">
            <p class="description">
              1 Mod Slot, 10 Fire, Freeze, Electric, and Corruption Resistance
            </p>
            <p class="description">
              Costs 185 Metal Shards, 1 Broadhead Lens
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del tercer conjunto de outfits -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Heavy</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Heavy -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/nora_survivor_heavy_outfit_horizon_zero_down_wiki_guide_275px.png" alt="Nora Survivor Heavy" class="outfit-image">
            <p class="description">
              2 Mod Slot, 15 Fire, Freeze, Electric, and Corruption Resistance
            </p>
            <p class="description">
              Costs 900 Metal Shards, 2 Watcher Heart, 40 Blaze
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nora Silent Hunter Outfit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        This is stealth armor, and wearing it will make it harder for enemies to detect you.
      </p>
      <p class="description">
        The Nora Silent Hunter is one of the many Outfits found in Horizon: Zero Dawn. This armor set provides a large bonus to stealth.
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
        <ion-card-title>Nora Silent Hunter Outfits</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <!-- Contenedor para tarjetas internas -->
        <div class="outfit-cards-container">
            <!-- Contenido del primer conjunto de outfits -->
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Light</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <!-- Contenido específico del outfit Light -->
                    <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/nora_silent_hunter_light_outfit_horizon_zero_down_wiki_guide_275px.png"
                        alt="Nora Silent Hunter Light" class="outfit-image">
                    <p class="description">
                        1 Mod Slot, +25 Stealth
                    </p>
                    <p class="description">
                        Costs 50 Metal Shards, 3 Blaze
                    </p>
                </ion-card-content>
            </ion-card>

            <!-- Contenido del segundo conjunto de outfits -->
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Medium</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <!-- Contenido específico del outfit Medium -->
                    <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/nora_silent_hunter_medium_outfit_horizon_zero_down_wiki_guide_275px.png"
                        alt="Nora Silent Hunter Medium" class="outfit-image">
                    <p class="description">
                        1 Mod Slot, +40 Stealth
                    </p>
                    <p class="description">
                        Costs 200 Metal Shards, 2 Watcher Lens
                    </p>
                </ion-card-content>
            </ion-card>

            <!-- Contenido del tercer conjunto de outfits -->
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Heavy</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <!-- Contenido específico del outfit Heavy -->
                    <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/nora_silent_hunter_heavy_outfit_horizon_zero_down_wiki_guide_275px.png"
                        alt="Nora Silent Hunter Heavy" class="outfit-image">
                    <p class="description">
                        2 Mod Slot, +50 Stealth
                    </p>
                    <p class="description">
                        Costs 800 Metal Shards, 1 Bellowback Heart
                    </p>
                </ion-card-content>
            </ion-card>
        </div>
    </ion-card-content>
</ion-card>

  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nora Protector Outfit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        This armor is basic damage resistance armor that will offer varying levels of melee damage resistance.
      </p>
      <p class="description">
        The Nora Protector is one of the many Outfits found in Horizon: Zero Dawn. This armor provides a large bonus to melee damage resistance.
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nora Protector Outfits</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Contenedor para tarjetas internas -->
      <div class="outfit-cards-container">
        <!-- Contenido del primer conjunto de outfits (Light) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Light</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Light -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/nora_protector_light_outfits_horizon_zero_dawn_wiki_guide.png" alt="Nora Protector Light" class="outfit-image">
            <p class="description">
              1 Mod Slot, +10 Melee Damage Resistance
            </p>
            <p class="description">
              Costs 65 Metal Shards, 5 Sparker
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del segundo conjunto de outfits (Medium) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Medium</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Medium -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/nora_protector_medium_outfits_horizon_zero_dawn_wiki_guide2.png" alt="Nora Protector Medium" class="outfit-image">
            <p class="description">
              1 Mod Slot, +20 Melee Damage Resistance
            </p>
            <p class="description">
              Costs 190 Metal Shards, 1 Grazer Lens
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del tercer conjunto de outfits (Heavy) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Heavy</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Heavy -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/nora_protector_heavy_outfits_horizon_zero_dawn_wiki_guide13.png" alt="Nora Protector Heavy" class="outfit-image">
            <p class="description">
              2 Mod Slot, +30 Melee Damage Resistance
            </p>
            <p class="description">
              Costs 1000 Metal Shards, 1 Shell-Walker Heart
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Carja Silks Outfit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        This armor set is the most basic in the game. It offers no special bonuses but has more mod slots than other armor.
      </p>
      <p class="description">
        The Carja Silks is one of the many Outfits in Horizon: Zero Dawn. Like all armor, there are three tiers.
      </p>
      <p class="description">
        This armor set has no stat bonuses but instead has extra mod slots.
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Carja Silks Outfit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Contenedor para tarjetas internas -->
      <div class="outfit-cards-container">
  
        <!-- Contenido del primer conjunto de outfits (Light) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Light</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Light -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/carja_silks_light_outfits_horizon_zero_dawn_wiki_guide.png" alt="Carja Silks Light" class="outfit-image">
            <p class="description">
              1 Mod Slot
            </p>
            <p class="description">
              Costs 35 Metal Shards, 6 Blaze
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del segundo conjunto de outfits (Medium) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Medium</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Medium -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/carja_silks_medium_outfits_horizon_zero_dawn_wiki_guide2.png" alt="Carja Silks Medium" class="outfit-image">
            <p class="description">
              2 Mod Slots
            </p>
            <p class="description">
              Costs 240 Metal Shards, 1 Snapmaw Lens
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del tercer conjunto de outfits (Heavy) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Heavy</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Heavy -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/carja_silks_heavy_outfits_horizon_zero_dawn_wiki_guide2.png" alt="Carja Silks Heavy" class="outfit-image">
            <p class="description">
              3 Mod Slots
            </p>
            <p class="description">
              Costs 770 Metal Shards, 1 Longleg Heart
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
  
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Banuk Ice Hunter Outfit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        This armor, like its name suggests, provides a high defensive bonus against Freeze damage.
      </p>
      <p class="description">
        The Banuk Ice Hunter is one of the many Outfits found in Horizon: Zero Dawn. This armor set provides a large bonus to Freeze resistance.
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Banuk Ice Hunter Outfits</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Contenedor para tarjetas internas -->
      <div class="outfit-cards-container">
        <!-- Contenido del primer conjunto de outfits (Light) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Light</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Light -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/banuk_ice_hunter_light_outfit_horizon_zero_down_wiki_guide_275px.png" alt="Banuk Ice Hunter Light" class="outfit-image">
            <p class="description">
              No Mod Slots, 30 Freeze Resistance
            </p>
            <p class="description">
              Costs 40 Metal Shards, 1 Metalburn
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del segundo conjunto de outfits (Medium) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Medium</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Medium -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/banuk_ice_hunter_medium_outfit_horizon_zero_down_wiki_guide_275.png" alt="Banuk Ice Hunter Medium" class="outfit-image">
            <p class="description">
              1 Mod Slot, 30 Freeze Resistance
            </p>
            <p class="description">
              Costs 150 Metal Shards, 1 Shell-Walker Lens
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del tercer conjunto de outfits (Heavy) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Heavy</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Heavy -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/banuk_ice_hunter_heavy_outfit_horizon_zero_down_wiki_guide_275px.png" alt="Banuk Ice Hunter Heavy" class="outfit-image">
            <p class="description">
              2 Mod Slots, 50 Freeze Resistance
            </p>
            <p class="description">
              Costs 800 Metal Shards, 1 Strider Heart, 20 Metal Vessel
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
  
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Oseram Sparkworker Outfit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        This armor is designed to give a high resistance to Electric damage.
      </p>
      <p class="description">
        The Oseram Sparkworker is one of the many Outfits found in Horizon: Zero Dawn. This armor set provides a large resistance to Electric damage.
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Oseram Sparkworker Outfits</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Contenedor para tarjetas internas -->
      <div class="outfit-cards-container">
        <!-- Contenido del primer conjunto de outfits (Light) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Light</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Light -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/oseram_sparkworker_light_outfits_horizon_zero_dawn_wiki_guide.png" alt="Oseram Sparkworker Light" class="outfit-image">
            <p class="description">
              No Mod Slot, 30 Electric Resistance
            </p>
            <p class="description">
              Costs 50 Metal Shards, 1 Slagshine Glass
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del segundo conjunto de outfits (Medium) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Medium</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Medium -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/oseram_sparkworker_medium_outfits_horizon_zero_dawn_wiki_guide2.png" alt="Oseram Sparkworker Medium" class="outfit-image">
            <p class="description">
              1 Mod Slot, 30 Electric Resistance
            </p>
            <p class="description">
              Costs 230 Metal Shards, 1 Lancehorn Lens
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del tercer conjunto de outfits (Heavy) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Heavy</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Heavy -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/oseram_sparkworker_heavy_outfits_horizon_zero_dawn_wiki_guide7.png" alt="Oseram Sparkworker Heavy" class="outfit-image">
            <p class="description">
              2 Mod Slots, 50 Electric Resistance
            </p>
            <p class="description">
              Costs 800 Metal Shards, 2 Luminous Braiding
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Banuk Sickness Eater Outfit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        This is another resistance armor, this time providing a high resistance to Corruption.
      </p>
      <p class="description">
        The Banuk Sickness Eater is one of the many Outfits found in Horizon: Zero Dawn. This armor provides a high resistance to Corruption.
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Banuk Sickness Eater Outfits</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Contenedor para tarjetas internas -->
      <div class="outfit-cards-container">
        <!-- Contenido del primer conjunto de outfits (Light) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Light</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Light -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/banuk_sickness_eater_light_outfit_horizon_zero_dawn_wiki_guide.png" alt="Banuk Sickness Eater Light" class="outfit-image">
            <p class="description">
              No Mod Slot, +30 Corruption Resistance
            </p>
            <p class="description">
              Costs 60 Metal Shards, 2 Fatty Meat
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del segundo conjunto de outfits (Medium) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Medium</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Medium -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/banuk_sickness_eater_medium_outfit_horizon_zero_dawn_wiki_guide.png" alt="Banuk Sickness Eater Medium" class="outfit-image">
            <p class="description">
              1 Mod Slot, +30 Corruption Resistance
            </p>
            <p class="description">
              Costs 150 Metal Shards, 1 Scrapper Lens
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del tercer conjunto de outfits (Heavy) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Heavy</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Heavy -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/banuk_sickness_eater_heavy_outfit_horizon_zero_dawn_wiki_guide.png" alt="Banuk Sickness Eater Heavy" class="outfit-image">
            <p class="description">
              2 Mod Slots, +50 Corruption Resistance
            </p>
            <p class="description">
              Costs 760 Metal Shards, 1 Grazer Heart
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
  
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Carja Blazon Outfit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        This armor is designed to give you a high resistance to Fire damage.
      </p>
      <p class="description">
        The Carja Blazon is one of the many Outfits found in Horizon: Zero Dawn. This armor provides a large bonus to Fire resistance.
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Carja Blazon Outfits</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Contenedor para tarjetas internas -->
      <div class="outfit-cards-container">
        <!-- Contenido del primer conjunto de outfits (Light) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Light</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Light -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/carja_blazon_light_outfits_horizon_zero_dawn_wiki_guide.png" alt="Carja Blazon Light" class="outfit-image">
            <p class="description">
              No Mod Slot, +30 Fire Resistance
            </p>
            <p class="description">
              Costs 65 Metal Shards, 10 Sparker
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del segundo conjunto de outfits (Medium) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Medium</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Medium -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/carja_blazon_medium_outfits_horizon_zero_dawn_wiki_guide.png" alt="Carja Blazon Medium" class="outfit-image">
            <p class="description">
              1 Mod Slot, +30 Fire Resistance
            </p>
            <p class="description">
              Costs 220 Metal Shards, 1 Glinthawk Lens
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del tercer conjunto de outfits (Heavy) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Heavy</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Heavy -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/carja_blazon_heavy_outfits_hotizon_zero_dawn_wiki_guide.png" alt="Carja Blazon Heavy" class="outfit-image">
            <p class="description">
              2 Mod Slot, +50 Fire Resistance
            </p>
            <p class="description">
              Costs 780 Metal Shards, 1 Charger Heart
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
  
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Oseram Arrow Breaker Outfit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        This armor type is designed to give you a higher resistance to ranged damage.
      </p>
      <p class="description">
        The Oseram Arrow Breaker is one of the many Outfits found in Horizon: Zero Dawn. This armor set provides a bonus to ranged damage resistance.
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Oseram Arrow Breaker Outfits</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Contenedor para tarjetas internas -->
      <div class="outfit-cards-container">
        <!-- Contenido del primer conjunto de outfits (Light) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Light</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Light -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/oseram_arrow_breaker_light_outfits_horizon_zero_dawn_wiki_guide.png" alt="Oseram Arrow Breaker Light" class="outfit-image">
            <p class="description">
              1 Mod Slot, +10 Ranged Damage Resistance
            </p>
            <p class="description">
              Costs 70 Metal Shards, 2 Desert Glass
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del segundo conjunto de outfits (Medium) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Medium</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Medium -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/oseram_arrow_breaker_medium_outfits_horizon_zero_dawn_wiki_guide.png" alt="Oseram Arrow Breaker Medium" class="outfit-image">
            <p class="description">
              1 Mod Slot, +20 Ranged Damage Resistance
            </p>
            <p class="description">
              Costs 280 Metal Shards, 1 Ravager Lens
            </p>
          </ion-card-content>
        </ion-card>
  
        <!-- Contenido del tercer conjunto de outfits (Heavy) -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Heavy</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido específico del outfit Heavy -->
            <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/oseram_arrow_breaker_heavy_outfits_horizon_zero_dawn_wiki_guide.png" alt="Oseram Arrow Breaker Heavy" class="outfit-image">
            <p class="description">
              2 Mod Slot, +30 Ranged Damage Resistance
            </p>
            <p class="description">
              Costs 1100 Metal Shards, 1 Crystal Braiding
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
  
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Armor Modifications</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        Armor Mods are found all throughout the game, sometimes dropping off enemies, or being rewarded from Treasure.
      </p>
      <p class="description">
        Mods can be placed into armor to improve its stats, or even give it a stat that it didn't have before. Once inserted into a piece of armor, a Mod cannot be removed unless you have a specific talent from the skill tree.
      </p>
      <p class="description">
        There are three tiers of Mods: Green, Blue, and Purple. Purple is the best kind, but also the rarest. As you get later into the game, the chance of finding a better mod increases.
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Shield-Weaver</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://horizonzerodawn.wiki.fextralife.com/file/Horizon-Zero-Dawn/shieldweaver_outfits_horizon_zero_dawn_wiki_guide.png" alt="Shield-Weaver" class="outfit-image">
      <p class="description">
        This is a set of legendary armor. To unlock it, you will need to find all of the Power Cell Locations. This armor, once unlocked, gives you a massive damage resistance bonus.
      </p>
      <p class="description">
        The Shield-Weaver has no modification slots but does possess a rechargeable shield that protects Aloy from a substantial amount of damage.
      </p>
      <p class="description">
        Players will know the shield is running out when it begins blinking red and making a high-pitched alarm sound.
      </p>
      <p class="description">
        It can be found at the end of the side quest Ancient Armory, which requires players to locate five Power Cells around the world throughout the campaign.
      </p>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
